<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510739766793-5g1rgbdf3vgvanc20varh7np5huom8eb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510739766793-5g1rgbdf3vgvanc20varh7np5huom8eb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510739766793-ctodha35oic75vb2mgdliqdl65f0qlkr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-wcVOr3fk5VNQllqFvb938GZm0NkauIk</string>
	<key>GCM_SENDER_ID</key>
	<string>510739766793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.casino.casinoApp</string>
	<key>PROJECT_ID</key>
	<string>casino-edc23</string>
	<key>STORAGE_BUCKET</key>
	<string>casino-edc23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510739766793:ios:5e3682c004e2cae9b322d8</string>
</dict>
</plist>